/* line 1, ../sass/foundation/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2, ../sass/foundation/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 3, ../sass/foundation/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, ../sass/foundation/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 5, ../sass/foundation/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 6, ../sass/foundation/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* line 7, ../sass/foundation/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 8, ../sass/foundation/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* line 9, ../sass/foundation/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../sass/foundation/_reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 11, ../sass/foundation/_reset.scss */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 12, ../sass/foundation/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 13, ../sass/foundation/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 14, ../sass/foundation/_reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 15, ../sass/foundation/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 16, ../sass/foundation/_reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

/* line 17, ../sass/foundation/_reset.scss */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 18, ../sass/foundation/_reset.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 19, ../sass/foundation/_reset.scss */
small {
  font-size: 85%;
}

/* line 20, ../sass/foundation/_reset.scss */
strong, th {
  font-weight: bold;
}

/* line 21, ../sass/foundation/_reset.scss */
td, td img {
  vertical-align: top;
}

/* line 22, ../sass/foundation/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 23, ../sass/foundation/_reset.scss */
sup {
  top: -0.5em;
}

/* line 24, ../sass/foundation/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 25, ../sass/foundation/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 26, ../sass/foundation/_reset.scss */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 27, ../sass/foundation/_reset.scss */
button, input, select, textarea {
  margin: 0;
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 28, ../sass/foundation/_reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 29, ../sass/foundation/_reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 30, ../sass/foundation/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 31, ../sass/foundation/_reset.scss */
html, body {
  min-height: 100%;
}

/* line 32, ../sass/foundation/_reset.scss */
.clear {
  clear: both;
}

/* line 33, ../sass/foundation/_reset.scss */
.clearfix, .row {
  zoom: 1;
}
/* line 33, ../sass/foundation/_reset.scss */
.clearfix:before, .row:before, .clearfix:after, .row:after {
  content: "";
  display: table;
}
/* line 33, ../sass/foundation/_reset.scss */
.clearfix:after, .row:after {
  clear: both;
}

/* line 34, ../sass/foundation/_reset.scss */
.hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  color: transparent !important;
  display: block;
}

/* line 35, ../sass/foundation/_reset.scss */
.hidden {
  display: none !important;
}

/* line 36, ../sass/foundation/_reset.scss */
li {
  list-style: none;
}

/* line 99, ../sass/foundation/_helpers.scss */
.group::after, .g::after {
  clear: both;
  content: "";
  display: table;
}

/* line 107, ../sass/foundation/_helpers.scss */
.debug {
  background-color: pink !important;
}

/* line 113, ../sass/foundation/_helpers.scss */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 121, ../sass/foundation/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
}
/* line 125, ../sass/foundation/_helpers.scss */
.ir::before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 135, ../sass/foundation/_helpers.scss */
.vCenter {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 8, ../sass/foundation/_base.scss */
html {
  height: 100%;
  background: #dcdcdc;
  color: #384453;
  font-family: "Tinos", serif;
  font-size: 18px;
  line-height: 1.25;
}

/* line 17, ../sass/foundation/_base.scss */
body {
  position: relative;
  height: 100%;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* line 30, ../sass/foundation/_base.scss */
p,
.p,
ul,
ol,
blockquote {
  margin-bottom: 1.11111em;
  margin-top: 0;
}

/* line 39, ../sass/foundation/_base.scss */
blockquote {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #ffffff;
  font-size: 2.22222em;
}
/* line 45, ../sass/foundation/_base.scss */
blockquote span {
  display: inline-block;
  height: 1.15em;
  padding-right: 0.15em;
  margin-bottom: 0.1em;
  background-color: #1b2027;
  line-height: 1.15em;
}
/* line 53, ../sass/foundation/_base.scss */
blockquote span:last-child {
  padding-right: 0;
}

/* line 59, ../sass/foundation/_base.scss */
.blockquote-side {
  margin-top: 1.11111em;
  margin-bottom: 1.11111em;
}

/* line 74, ../sass/foundation/_base.scss */
.video-responsive:last-child,
ul:last-child,
ol:last-child,
li:last-child,
p:last-child,
h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child,
h5:last-child, .h5:last-child {
  margin-bottom: 0;
}

/* line 79, ../sass/foundation/_base.scss */
.input,
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="week"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
textarea,
select,
input[type="submit"],
button {
  border: 1px solid #000000;
  background-color: #dcdcdc;
  padding: 0.55556em;
  margin-bottom: 1.11111em;
}

/* line 101, ../sass/foundation/_base.scss */
select::-ms-expand {
  display: none;
}

/* line 105, ../sass/foundation/_base.scss */
.input,
input,
textarea,
select,
button {
  display: block;
  width: 100%;
  margin-bottom: 1.11111em;
}

/* line 115, ../sass/foundation/_base.scss */
input[type="range"] {
  -webkit-appearance: slider-horizontal;
}

/* line 119, ../sass/foundation/_base.scss */
input[type="checkbox"],
input[type="radio"] {
  position: relative;
  display: inline-block;
  vertical-align: sub;
  width: 1.11111em;
  height: 1.11111em;
  border: 2px solid #000000;
  margin-right: 0.27778em;
  margin-bottom: 0;
}
/* line 130, ../sass/foundation/_base.scss */
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background-color: #000000;
  content: "";
}

/* line 143, ../sass/foundation/_base.scss */
input[type="radio"], input[type="radio"]:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 149, ../sass/foundation/_base.scss */
label {
  display: block;
  font-style: italic;
}

/* line 154, ../sass/foundation/_base.scss */
input[type="submit"],
button {
  display: block;
}

/* line 161, ../sass/foundation/_base.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  color: #1b2027;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  margin-top: 0;
}

/* line 177, ../sass/foundation/_base.scss */
a {
  color: #ff0000;
  text-decoration: none;
}
/* line 182, ../sass/foundation/_base.scss */
p a:hover, p a:focus {
  text-decoration: underline;
}

/* line 190, ../sass/foundation/_base.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 199, ../sass/foundation/_base.scss */
table {
  width: 100%;
}

/* line 203, ../sass/foundation/_base.scss */
td {
  border: 1px solid #000000;
  padding: 0.55556em;
}

/* line 208, ../sass/foundation/_base.scss */
thead td {
  background-color: #808080;
  color: #ffffff;
}

/* line 213, ../sass/foundation/_base.scss */
tbody tr:first-of-type td {
  border-top: none;
}

/* line 224, ../sass/foundation/_base.scss */
.alignright {
  float: right;
  margin: 0.27778em 0 1.11111em 2.22222em;
}

/* line 229, ../sass/foundation/_base.scss */
.alignleft {
  float: left;
  margin: 0.27778em 2.22222em 1.11111em 0;
}

/* line 234, ../sass/foundation/_base.scss */
.aligncenter {
  display: block;
  margin: 0.27778em auto 0.27778em auto;
}
/* line 237, ../sass/foundation/_base.scss */
.aligncenter img {
  width: 100%;
}

/* line 242, ../sass/foundation/_base.scss */
.ab-top-menu {
  overflow: initial;
}

/* line 246, ../sass/foundation/_base.scss */
.wp-caption {
  width: auto !important;
  margin-bottom: 1.11111em;
}

/* line 251, ../sass/foundation/_base.scss */
.wp-caption-text {
  margin-bottom: 1.11111em;
  font-family: "Raleway", sans-serif;
  font-size: 0.5em;
  font-weight: 300;
  text-align: right;
}

/* line 259, ../sass/foundation/_base.scss */
.wp-caption-text a {
  color: #384453;
}

/* line 32, ../sass/foundation/_helpers.scss */
::-moz-selection {
  background: #1b2027;
  color: #ffffff;
}

/* line 33, ../sass/foundation/_helpers.scss */
::selection {
  background: #1b2027;
  color: #ffffff;
}

/* line 34, ../sass/foundation/_helpers.scss */
a:link {
  -webkit-tap-highlight-color: #1b2027;
}

/* line 273, ../sass/foundation/_base.scss */
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  margin-bottom: 1.11111em;
}
/* line 279, ../sass/foundation/_base.scss */
.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * WordPress Ajax Load More
 * http://wordpress.org/plugins/ajax-load-more/
 * https://github.com/dcooney/wordpress-ajax-load-more
 *
 * Copyright 2015 Connekt Media - http://connekthq.com
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Author: Darren Cooney
 * Twitter: @KaptonKaos
*/
/* line 88, ../sass/components/_alm.scss */
.alm-btn-wrap {
  /* text-align: center;
  padding: 10px 10px 30px;
  overflow: hidden;
  display: block; */
  visibility: hidden;
  width: 100%;
  height: 1px;
  text-align: center;
}
/* line 98, ../sass/components/_alm.scss */
.single .alm-btn-wrap {
  position: relative;
  padding-top: 40px;
  visibility: visible;
  height: auto;
}
/* line 104, ../sass/components/_alm.scss */
.single .alm-btn-wrap:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: 'Surprise me';
  color: #1b2027;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1.33333em;
  text-align: center;
}

/* line 119, ../sass/components/_alm.scss */
button.alm-load-more-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: none;
  background-image: url(../img/src/svg/refresh.svg);
  color: transparent;
  overflow: hidden;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 129, ../sass/components/_alm.scss */
button.alm-load-more-btn.loading {
  animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
}

/*
*  Generic alm-listing styles
*
*  @since 1.0.0
*/
/* line 202, ../sass/components/_alm.scss */
.alm-listing {
  margin: 0;
  padding: 0;
}

/* .alm-listing li{
	background: none;
	margin: 0 0 30px;
	padding: 0 0 0 170px;
	overflow: hidden;
	position: relative;
	list-style: none;
}	
.alm-listing li.no-img{ padding: 0; }		
.alm-listing li a{
	color: #34383D;
}
.alm-listing li p{
	margin: 0;
}
.alm-listing li h3{
	margin: 0 0 10px;
}
.alm-listing li img{
	position: absolute;
	left: 0;
	top: 0;			
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}	 */
/* line 233, ../sass/components/_alm.scss */
.single .alm-reveal {
  margin-top: 3.33333em;
  margin-bottom: 5.55556em;
}

/* line 238, ../sass/components/_alm.scss */
.alm-preloaded {
  margin-bottom: 5.55556em;
}

/* line 7, ../sass/components/_btn.scss */
.btn {
  display: inline-block;
  padding: 0.28571em 0.57143em;
  background-color: #312424;
  color: #ffffff;
  font-size: 0.77778em;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 21, ../sass/components/_btn.scss */
.btn--highlight {
  background-color: #ff0000;
}

/* line 8, ../sass/components/_card.scss */
.card {
  position: relative;
  display: block;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
@media screen and (min-width: 1100px) {
  /* line 8, ../sass/components/_card.scss */
  .card {
    font-size: 20px;
  }
}
@media screen and (min-width: 1300px) {
  /* line 8, ../sass/components/_card.scss */
  .card {
    font-size: 22px;
  }
}

/* line 24, ../sass/components/_card.scss */
.card,
.latest {
  height: 550px;
}
@media screen and (max-width: 53.125em) {
  /* line 24, ../sass/components/_card.scss */
  .card,
  .latest {
    height: 500px;
  }
}
@media screen and (max-width: 34.375em) {
  /* line 24, ../sass/components/_card.scss */
  .card,
  .latest {
    height: 400px;
  }
}

/* line 41, ../sass/components/_card.scss */
.card:hover:after {
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 34.375em) {
  /* line 46, ../sass/components/_card.scss */
  .card:hover .is-default {
    bottom: -100px;
    opacity: 0;
  }
  /* line 51, ../sass/components/_card.scss */
  .card:hover .is-hover {
    top: 0;
    opacity: 1;
  }
}

/* line 62, ../sass/components/_card.scss */
.card:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  content: '';
}

/* line 71, ../sass/components/_card.scss */
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.11111em;
  -moz-transition: opacity 0.4s, bottom 0.4s, top 0.4s;
  -o-transition: opacity 0.4s, bottom 0.4s, top 0.4s;
  -webkit-transition: opacity 0.4s, bottom 0.4s, top 0.4s;
  transition: opacity 0.4s, bottom 0.4s, top 0.4s;
  z-index: 100;
}
/* line 80, ../sass/components/_card.scss */
.card-content.is-hover {
  top: -100px;
  opacity: 0;
}

/* line 86, ../sass/components/_card.scss */
.card-title,
.card-byline,
.card-excerpt {
  width: 75%;
}

/* line 92, ../sass/components/_card.scss */
.card-title {
  margin-bottom: 0.41667em;
  font-size: 1.33333em;
  color: #ffffff;
}
/* line 97, ../sass/components/_card.scss */
.is-hover .card-title {
  margin-bottom: 0.35714em;
  font-size: 1.55556em;
}

/* line 103, ../sass/components/_card.scss */
.card-byline {
  margin-bottom: 1.25em;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.88889em;
  font-style: italic;
}

/* line 111, ../sass/components/_card.scss */
.card-excerpt {
  margin-bottom: 0;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.77778em;
  font-weight: 300;
}

/* line 119, ../sass/components/_card.scss */
.card-more {
  font-family: "Raleway", sans-serif;
  font-size: 0.77778em;
  font-weight: 300;
  text-align: right;
  text-transform: lowercase;
}

/* line 8, ../sass/components/_cell.scss */
.cell {
  margin-left: auto;
  margin-right: auto;
  max-width: 56.88889em;
  position: relative;
}

/* line 21, ../sass/components/_cell.scss */
.cell--s {
  max-width: 38.88889em;
}

@media screen and (min-width: 34.375em) {
  /* line 17, ../sass/components/_disqus.scss */
  body #disqus_thread {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 40%;
    min-width: 20em;
    max-width: 33.33333em;
    padding: 1.11111em 1.11111em 0;
    margin-top: 0;
    z-index: 400;
    background-color: #ffffff;
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-transition: -moz-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
  }
  /* line 32, ../sass/components/_disqus.scss */
  body #disqus_thread.is-visible {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media screen and (max-width: 34.375em) {
  /* line 40, ../sass/components/_disqus.scss */
  .header-icon.comment {
    display: none;
  }
}
/* line 14, ../sass/components/_grid.scss */
.g {
  display: block;
  margin-left: -10px;
  margin-right: -10px;
}

/* line 21, ../sass/components/_grid.scss */
.g-b {
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

/* line 36, ../sass/components/_grid.scss */
.g-b--center, .g-b--responsive {
  display: block;
  float: none;
  margin: 0 auto;
}

/* line 48, ../sass/components/_grid.scss */
.g-b--1of1 {
  width: 100%;
}

/* line 52, ../sass/components/_grid.scss */
.g-b--1of2, .g-b--2of4, .g-b--3of6, .g-b--4of8, .g-b--5of10, .g-b--6of12 {
  width: 50%;
}

/* line 57, ../sass/components/_grid.scss */
.g-b--1of3, .g-b--2of6, .g-b--4of12 {
  width: 33.333%;
}

/* line 60, ../sass/components/_grid.scss */
.g-b--2of3, .g-b--4of6, .g-b--8of12, .g-b--responsive {
  width: 66.666%;
}

/* line 66, ../sass/components/_grid.scss */
.g-b--1of4, .g-b--2of8, .g-b--3of12 {
  width: 25%;
}

/* line 72, ../sass/components/_grid.scss */
.g-b--3of4, .g-b--6of8, .g-b--9of12 {
  width: 75%;
}

/* line 78, ../sass/components/_grid.scss */
.g-b--1of5, .g-b--2of10 {
  width: 20%;
}

/* line 81, ../sass/components/_grid.scss */
.g-b--2of5, .g-b--4of10 {
  width: 40%;
}

/* line 84, ../sass/components/_grid.scss */
.g-b--3of5, .g-b--6of10 {
  width: 60%;
}

/* line 87, ../sass/components/_grid.scss */
.g-b--4of5, .g-b--8of10 {
  width: 80%;
}

/* line 93, ../sass/components/_grid.scss */
.g-b--1of6, .g-b--2of12 {
  width: 16.666%;
}

/* line 105, ../sass/components/_grid.scss */
.g-b--5of6, .g-b--10of12 {
  width: 83.333%;
}

/* line 110, ../sass/components/_grid.scss */
.g-b--1of7 {
  width: 14.286%;
}

/* line 113, ../sass/components/_grid.scss */
.g-b--2of7 {
  width: 28.571%;
}

/* line 116, ../sass/components/_grid.scss */
.g-b--3of7 {
  width: 42.857%;
}

/* line 119, ../sass/components/_grid.scss */
.g-b--4of7 {
  width: 57.143%;
}

/* line 122, ../sass/components/_grid.scss */
.g-b--5of7 {
  width: 71.429%;
}

/* line 125, ../sass/components/_grid.scss */
.g-b--6of7 {
  width: 85.714%;
}

/* line 131, ../sass/components/_grid.scss */
.g-b--1of8 {
  width: 12.5%;
}

/* line 137, ../sass/components/_grid.scss */
.g-b--3of8 {
  width: 37.5%;
}

/* line 143, ../sass/components/_grid.scss */
.g-b--5of8 {
  width: 62.5%;
}

/* line 149, ../sass/components/_grid.scss */
.g-b--7of8 {
  width: 87.5%;
}

/* line 155, ../sass/components/_grid.scss */
.g-b--1of10 {
  width: 10%;
}

/* line 161, ../sass/components/_grid.scss */
.g-b--3of10 {
  width: 30%;
}

/* line 173, ../sass/components/_grid.scss */
.g-b--7of10 {
  width: 70%;
}

/* line 179, ../sass/components/_grid.scss */
.g-b--9of10 {
  width: 90%;
}

/* line 185, ../sass/components/_grid.scss */
.g-b--1of12 {
  width: 8.333%;
}

/* line 197, ../sass/components/_grid.scss */
.g-b--5of12 {
  width: 41.666%;
}

/* line 203, ../sass/components/_grid.scss */
.g-b--7of12 {
  width: 58.333%;
}

/* line 215, ../sass/components/_grid.scss */
.g-b--11of12 {
  width: 91.666%;
}

@media screen and (max-width: 64em) {
  /* line 327, ../sass/components/_grid.scss */
  .g-b--l {
    float: left;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

  /* line 48, ../sass/components/_grid.scss */
  .g-b--l--1of1 {
    width: 100%;
  }

  /* line 52, ../sass/components/_grid.scss */
  .g-b--l--1of2, .g-b--l--2of4, .g-b--l--3of6, .g-b--l--4of8, .g-b--l--5of10, .g-b--l--6of12 {
    width: 50%;
  }

  /* line 57, ../sass/components/_grid.scss */
  .g-b--l--1of3, .g-b--l--2of6, .g-b--l--4of12 {
    width: 33.333%;
  }

  /* line 60, ../sass/components/_grid.scss */
  .g-b--l--2of3, .g-b--l--4of6, .g-b--l--8of12 {
    width: 66.666%;
  }

  /* line 66, ../sass/components/_grid.scss */
  .g-b--l--1of4, .g-b--l--2of8, .g-b--l--3of12 {
    width: 25%;
  }

  /* line 72, ../sass/components/_grid.scss */
  .g-b--l--3of4, .g-b--l--6of8, .g-b--l--9of12 {
    width: 75%;
  }

  /* line 78, ../sass/components/_grid.scss */
  .g-b--l--1of5, .g-b--l--2of10 {
    width: 20%;
  }

  /* line 81, ../sass/components/_grid.scss */
  .g-b--l--2of5, .g-b--l--4of10 {
    width: 40%;
  }

  /* line 84, ../sass/components/_grid.scss */
  .g-b--l--3of5, .g-b--l--6of10 {
    width: 60%;
  }

  /* line 87, ../sass/components/_grid.scss */
  .g-b--l--4of5, .g-b--l--8of10 {
    width: 80%;
  }

  /* line 93, ../sass/components/_grid.scss */
  .g-b--l--1of6, .g-b--l--2of12 {
    width: 16.666%;
  }

  /* line 105, ../sass/components/_grid.scss */
  .g-b--l--5of6, .g-b--l--10of12, .g-b--responsive {
    width: 83.333%;
  }

  /* line 110, ../sass/components/_grid.scss */
  .g-b--l--1of7 {
    width: 14.286%;
  }

  /* line 113, ../sass/components/_grid.scss */
  .g-b--l--2of7 {
    width: 28.571%;
  }

  /* line 116, ../sass/components/_grid.scss */
  .g-b--l--3of7 {
    width: 42.857%;
  }

  /* line 119, ../sass/components/_grid.scss */
  .g-b--l--4of7 {
    width: 57.143%;
  }

  /* line 122, ../sass/components/_grid.scss */
  .g-b--l--5of7 {
    width: 71.429%;
  }

  /* line 125, ../sass/components/_grid.scss */
  .g-b--l--6of7 {
    width: 85.714%;
  }

  /* line 131, ../sass/components/_grid.scss */
  .g-b--l--1of8 {
    width: 12.5%;
  }

  /* line 137, ../sass/components/_grid.scss */
  .g-b--l--3of8 {
    width: 37.5%;
  }

  /* line 143, ../sass/components/_grid.scss */
  .g-b--l--5of8 {
    width: 62.5%;
  }

  /* line 149, ../sass/components/_grid.scss */
  .g-b--l--7of8 {
    width: 87.5%;
  }

  /* line 155, ../sass/components/_grid.scss */
  .g-b--l--1of10 {
    width: 10%;
  }

  /* line 161, ../sass/components/_grid.scss */
  .g-b--l--3of10 {
    width: 30%;
  }

  /* line 173, ../sass/components/_grid.scss */
  .g-b--l--7of10 {
    width: 70%;
  }

  /* line 179, ../sass/components/_grid.scss */
  .g-b--l--9of10 {
    width: 90%;
  }

  /* line 185, ../sass/components/_grid.scss */
  .g-b--l--1of12 {
    width: 8.333%;
  }

  /* line 197, ../sass/components/_grid.scss */
  .g-b--l--5of12 {
    width: 41.666%;
  }

  /* line 203, ../sass/components/_grid.scss */
  .g-b--l--7of12 {
    width: 58.333%;
  }

  /* line 215, ../sass/components/_grid.scss */
  .g-b--l--11of12 {
    width: 91.666%;
  }

  /* line 335, ../sass/components/_grid.scss */
  .g-b--l--center {
    display: block;
    float: none;
    margin: 0 auto;
  }
}
@media screen and (max-width: 53.125em) {
  /* line 327, ../sass/components/_grid.scss */
  .g-b--m {
    float: left;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

  /* line 48, ../sass/components/_grid.scss */
  .g-b--m--1of1, .g-b--responsive {
    width: 100%;
  }

  /* line 52, ../sass/components/_grid.scss */
  .g-b--m--1of2, .g-b--m--2of4, .g-b--m--3of6, .g-b--m--4of8, .g-b--m--5of10, .g-b--m--6of12 {
    width: 50%;
  }

  /* line 57, ../sass/components/_grid.scss */
  .g-b--m--1of3, .g-b--m--2of6, .g-b--m--4of12 {
    width: 33.333%;
  }

  /* line 60, ../sass/components/_grid.scss */
  .g-b--m--2of3, .g-b--m--4of6, .g-b--m--8of12 {
    width: 66.666%;
  }

  /* line 66, ../sass/components/_grid.scss */
  .g-b--m--1of4, .g-b--m--2of8, .g-b--m--3of12 {
    width: 25%;
  }

  /* line 72, ../sass/components/_grid.scss */
  .g-b--m--3of4, .g-b--m--6of8, .g-b--m--9of12 {
    width: 75%;
  }

  /* line 78, ../sass/components/_grid.scss */
  .g-b--m--1of5, .g-b--m--2of10 {
    width: 20%;
  }

  /* line 81, ../sass/components/_grid.scss */
  .g-b--m--2of5, .g-b--m--4of10 {
    width: 40%;
  }

  /* line 84, ../sass/components/_grid.scss */
  .g-b--m--3of5, .g-b--m--6of10 {
    width: 60%;
  }

  /* line 87, ../sass/components/_grid.scss */
  .g-b--m--4of5, .g-b--m--8of10 {
    width: 80%;
  }

  /* line 93, ../sass/components/_grid.scss */
  .g-b--m--1of6, .g-b--m--2of12 {
    width: 16.666%;
  }

  /* line 105, ../sass/components/_grid.scss */
  .g-b--m--5of6, .g-b--m--10of12 {
    width: 83.333%;
  }

  /* line 110, ../sass/components/_grid.scss */
  .g-b--m--1of7 {
    width: 14.286%;
  }

  /* line 113, ../sass/components/_grid.scss */
  .g-b--m--2of7 {
    width: 28.571%;
  }

  /* line 116, ../sass/components/_grid.scss */
  .g-b--m--3of7 {
    width: 42.857%;
  }

  /* line 119, ../sass/components/_grid.scss */
  .g-b--m--4of7 {
    width: 57.143%;
  }

  /* line 122, ../sass/components/_grid.scss */
  .g-b--m--5of7 {
    width: 71.429%;
  }

  /* line 125, ../sass/components/_grid.scss */
  .g-b--m--6of7 {
    width: 85.714%;
  }

  /* line 131, ../sass/components/_grid.scss */
  .g-b--m--1of8 {
    width: 12.5%;
  }

  /* line 137, ../sass/components/_grid.scss */
  .g-b--m--3of8 {
    width: 37.5%;
  }

  /* line 143, ../sass/components/_grid.scss */
  .g-b--m--5of8 {
    width: 62.5%;
  }

  /* line 149, ../sass/components/_grid.scss */
  .g-b--m--7of8 {
    width: 87.5%;
  }

  /* line 155, ../sass/components/_grid.scss */
  .g-b--m--1of10 {
    width: 10%;
  }

  /* line 161, ../sass/components/_grid.scss */
  .g-b--m--3of10 {
    width: 30%;
  }

  /* line 173, ../sass/components/_grid.scss */
  .g-b--m--7of10 {
    width: 70%;
  }

  /* line 179, ../sass/components/_grid.scss */
  .g-b--m--9of10 {
    width: 90%;
  }

  /* line 185, ../sass/components/_grid.scss */
  .g-b--m--1of12 {
    width: 8.333%;
  }

  /* line 197, ../sass/components/_grid.scss */
  .g-b--m--5of12 {
    width: 41.666%;
  }

  /* line 203, ../sass/components/_grid.scss */
  .g-b--m--7of12 {
    width: 58.333%;
  }

  /* line 215, ../sass/components/_grid.scss */
  .g-b--m--11of12 {
    width: 91.666%;
  }

  /* line 335, ../sass/components/_grid.scss */
  .g-b--m--center {
    display: block;
    float: none;
    margin: 0 auto;
  }
}
@media screen and (max-width: 34.375em) {
  /* line 327, ../sass/components/_grid.scss */
  .g-b--s {
    float: left;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

  /* line 48, ../sass/components/_grid.scss */
  .g-b--s--1of1 {
    width: 100%;
  }

  /* line 52, ../sass/components/_grid.scss */
  .g-b--s--1of2, .g-b--s--2of4, .g-b--s--3of6, .g-b--s--4of8, .g-b--s--5of10, .g-b--s--6of12 {
    width: 50%;
  }

  /* line 57, ../sass/components/_grid.scss */
  .g-b--s--1of3, .g-b--s--2of6, .g-b--s--4of12 {
    width: 33.333%;
  }

  /* line 60, ../sass/components/_grid.scss */
  .g-b--s--2of3, .g-b--s--4of6, .g-b--s--8of12 {
    width: 66.666%;
  }

  /* line 66, ../sass/components/_grid.scss */
  .g-b--s--1of4, .g-b--s--2of8, .g-b--s--3of12 {
    width: 25%;
  }

  /* line 72, ../sass/components/_grid.scss */
  .g-b--s--3of4, .g-b--s--6of8, .g-b--s--9of12 {
    width: 75%;
  }

  /* line 78, ../sass/components/_grid.scss */
  .g-b--s--1of5, .g-b--s--2of10 {
    width: 20%;
  }

  /* line 81, ../sass/components/_grid.scss */
  .g-b--s--2of5, .g-b--s--4of10 {
    width: 40%;
  }

  /* line 84, ../sass/components/_grid.scss */
  .g-b--s--3of5, .g-b--s--6of10 {
    width: 60%;
  }

  /* line 87, ../sass/components/_grid.scss */
  .g-b--s--4of5, .g-b--s--8of10 {
    width: 80%;
  }

  /* line 93, ../sass/components/_grid.scss */
  .g-b--s--1of6, .g-b--s--2of12 {
    width: 16.666%;
  }

  /* line 105, ../sass/components/_grid.scss */
  .g-b--s--5of6, .g-b--s--10of12 {
    width: 83.333%;
  }

  /* line 110, ../sass/components/_grid.scss */
  .g-b--s--1of7 {
    width: 14.286%;
  }

  /* line 113, ../sass/components/_grid.scss */
  .g-b--s--2of7 {
    width: 28.571%;
  }

  /* line 116, ../sass/components/_grid.scss */
  .g-b--s--3of7 {
    width: 42.857%;
  }

  /* line 119, ../sass/components/_grid.scss */
  .g-b--s--4of7 {
    width: 57.143%;
  }

  /* line 122, ../sass/components/_grid.scss */
  .g-b--s--5of7 {
    width: 71.429%;
  }

  /* line 125, ../sass/components/_grid.scss */
  .g-b--s--6of7 {
    width: 85.714%;
  }

  /* line 131, ../sass/components/_grid.scss */
  .g-b--s--1of8 {
    width: 12.5%;
  }

  /* line 137, ../sass/components/_grid.scss */
  .g-b--s--3of8 {
    width: 37.5%;
  }

  /* line 143, ../sass/components/_grid.scss */
  .g-b--s--5of8 {
    width: 62.5%;
  }

  /* line 149, ../sass/components/_grid.scss */
  .g-b--s--7of8 {
    width: 87.5%;
  }

  /* line 155, ../sass/components/_grid.scss */
  .g-b--s--1of10 {
    width: 10%;
  }

  /* line 161, ../sass/components/_grid.scss */
  .g-b--s--3of10 {
    width: 30%;
  }

  /* line 173, ../sass/components/_grid.scss */
  .g-b--s--7of10 {
    width: 70%;
  }

  /* line 179, ../sass/components/_grid.scss */
  .g-b--s--9of10 {
    width: 90%;
  }

  /* line 185, ../sass/components/_grid.scss */
  .g-b--s--1of12 {
    width: 8.333%;
  }

  /* line 197, ../sass/components/_grid.scss */
  .g-b--s--5of12 {
    width: 41.666%;
  }

  /* line 203, ../sass/components/_grid.scss */
  .g-b--s--7of12 {
    width: 58.333%;
  }

  /* line 215, ../sass/components/_grid.scss */
  .g-b--s--11of12 {
    width: 91.666%;
  }

  /* line 335, ../sass/components/_grid.scss */
  .g-b--s--center {
    display: block;
    float: none;
    margin: 0 auto;
  }
}
/* line 7, ../sass/components/_insideFeatured.scss */
.insideFeatured {
  width: 100%;
  height: 19.72222em;
  margin-bottom: 0.55556em;
  background-position: center;
  background-size: cover;
}

/* line 19, ../sass/components/_insideFeatured.scss */
.insideFeatured-inner {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 19.72222em;
}

/* line 7, ../sass/components/_f0f.scss */
.f0f {
  text-align: center;
}

/* line 21, ../sass/components/_f0f.scss */
.f0f-gears {
  margin-bottom: 0.55556em;
}

/* line 25, ../sass/components/_f0f.scss */
.f0f-gears-half {
  display: inline-block;
  vertical-align: middle;
}
/* line 29, ../sass/components/_f0f.scss */
.f0f-gears-half:first-of-type {
  margin-right: -0.83333em;
}

/* line 34, ../sass/components/_f0f.scss */
.f0f-gear {
  fill: #262626;
  animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  -webkit-animation: spin 8s linear infinite;
  -o-animation: spin 8s linear infinite;
}

/* line 39, ../sass/components/_f0f.scss */
.f0f-gear--large {
  width: 6.38889em;
  height: 6.38889em;
}

/* line 44, ../sass/components/_f0f.scss */
.f0f-gear--small {
  width: 3.88889em;
  height: 3.88889em;
  margin-bottom: 1.11111em;
  -moz-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  animation-duration: 6s;
  -moz-animation-duration: 6s;
  -webkit-animation-duration: 6s;
  -o-animation-duration: 6s;
}
/* line 51, ../sass/components/_f0f.scss */
.f0f-gear--small:last-of-type {
  margin-bottom: 0;
}

/* line 56, ../sass/components/_f0f.scss */
.f0f-head {
  margin-bottom: -0.14706em;
  font-size: 9.44444em;
  font-weight: 300;
}

/* line 62, ../sass/components/_f0f.scss */
.f0f-subHead {
  font-size: 3.05556em;
  font-weight: 300;
  text-transform: lowercase;
}

@-webkit-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 7, ../sass/components/_featured.scss */
.featured {
  position: relative;
  display: block;
  height: 700px;
  margin-bottom: 0.55556em;
  background-position: center;
  background-size: cover;
}

/* line 27, ../sass/components/_featured.scss */
.featured:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
}

/* line 35, ../sass/components/_featured.scss */
.featured-g,
.featured-row,
.featured-cell {
  height: 100%;
  z-index: 10;
}

/* line 42, ../sass/components/_featured.scss */
.featured-logo {
  display: block;
  margin-top: 1.11111em;
}

/* line 47, ../sass/components/_featured.scss */
.featured-logo {
  width: 6.94444em;
  height: 6.94444em;
  background-position: center;
  background-size: cover;
  background-image: url('../img/pro/logo.png?1440971561');
}

/* line 55, ../sass/components/_featured.scss */
.featured-contentGrid {
  position: relative;
  height: 100%;
}

/* line 60, ../sass/components/_featured.scss */
.featured-content {
  position: absolute;
  right: 10px;
  bottom: 7.5em;
  text-align: right;
}

/* line 67, ../sass/components/_featured.scss */
.featured-btn {
  margin-bottom: 0.71429em;
}

/* line 71, ../sass/components/_featured.scss */
.featured-title {
  font-family: "Tinos", serif;
  font-size: 1.88889em;
}
/* line 75, ../sass/components/_featured.scss */
.featured-title a {
  color: #ffffff;
}

/* line 80, ../sass/components/_featured.scss */
.featured-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

/* line 86, ../sass/components/_featured.scss */
.featured-arrow {
  position: absolute;
  bottom: 100px;
  left: 50%;
  z-index: 200;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  animation: hover 4s infinite;
  -moz-animation: hover 4s infinite;
  -webkit-animation: hover 4s infinite;
  -o-animation: hover 4s infinite;
}
/* line 94, ../sass/components/_featured.scss */
.featured-arrow svg {
  width: 1.66667em;
  fill: #ffffff;
}

@-webkit-keyframes hover {
  0%, 100% {
    bottom: 75px;
  }
  50% {
    bottom: 95px;
  }
}
@-moz-keyframes hover {
  0%, 100% {
    bottom: 75px;
  }
  50% {
    bottom: 95px;
  }
}
@-ms-keyframes hover {
  0%, 100% {
    bottom: 75px;
  }
  50% {
    bottom: 95px;
  }
}
@keyframes hover {
  0%, 100% {
    bottom: 75px;
  }
  50% {
    bottom: 95px;
  }
}
/* line 7, ../sass/components/_footer.scss */
.footer {
  margin-top: 0.55556em;
  z-index: 300;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
/* line 14, ../sass/components/_footer.scss */
.footer a {
  color: #ffffff;
}

/* line 23, ../sass/components/_footer.scss */
.footer-menu {
  font-size: 1em;
}
/* line 26, ../sass/components/_footer.scss */
.footer-menu li {
  margin-bottom: 0.27778em;
}

/* line 31, ../sass/components/_footer.scss */
.footer-copy {
  font-size: 0.66667em;
}

/* line 7, ../sass/components/_frontObj.scss */
.frontObj {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 21, ../sass/components/_frontObj.scss */
.frontObj-content {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 34.375em) {
  /* line 21, ../sass/components/_frontObj.scss */
  .frontObj-content {
    top: 0;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}

/* line 7, ../sass/components/_latest.scss */
.latest {
  padding-left: 1.94444em;
  color: #000000;
}
@media screen and (max-width: 53.125em) {
  /* line 7, ../sass/components/_latest.scss */
  .latest {
    padding-left: 0;
  }
}
@media screen and (max-width: 34.375em) {
  /* line 7, ../sass/components/_latest.scss */
  .latest {
    height: auto;
  }
}

/* line 28, ../sass/components/_latest.scss */
.latest-story {
  margin-bottom: 1.11111em;
}
/* line 31, ../sass/components/_latest.scss */
.latest-story:last-of-type {
  margin-bottom: 0;
}

/* line 36, ../sass/components/_latest.scss */
.latest-header {
  color: #000000;
  margin-bottom: 0.83333em;
  font-size: 1.33333em;
  font-style: italic;
}

/* line 43, ../sass/components/_latest.scss */
.latest-title {
  font-size: 0.77778em;
}

/* line 48, ../sass/components/_latest.scss */
.latest-time {
  color: #808080;
  font-size: 0.66667em;
  font-family: "Raleway", sans-serif;
}

/* line 54, ../sass/components/_latest.scss */
.latest-more {
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 0.77778em;
  font-style: italic;
  text-transform: lowercase;
}

/* line 62, ../sass/components/_latest.scss */
.latest a {
  color: #000000;
}

/* line 7, ../sass/components/_map.scss */
.map {
  max-width: 847px;
  margin: 4.72222em auto 1.11111em;
  margin-top: 4.72222em;
}
@media screen and (max-width: 34.375em) {
  /* line 7, ../sass/components/_map.scss */
  .map {
    display: none;
  }
}

/* line 23, ../sass/components/_map.scss */
.map image[data-continent] {
  cursor: pointer;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 26, ../sass/components/_map.scss */
.map image[data-continent]:hover {
  opacity: .5;
}

/* line 7, ../sass/components/_menuArt.scss */
.menuArt {
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  pointer-events: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 34.375em) {
  /* line 7, ../sass/components/_menuArt.scss */
  .menuArt {
    position: relative;
    opacity: 1;
    margin-bottom: 0.83333em;
    pointer-events: auto;
  }
  /* line 24, ../sass/components/_menuArt.scss */
  .menuArt:first-of-type {
    margin-top: 4.72222em;
  }
}

/* line 34, ../sass/components/_menuArt.scss */
.menuArt.is-hovering {
  opacity: 1;
  pointer-events: auto;
}

/* line 43, ../sass/components/_menuArt.scss */
.menuArt-heading {
  display: block;
  margin-bottom: 0.55556em;
  color: #000000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 34.375em) {
  /* line 43, ../sass/components/_menuArt.scss */
  .menuArt-heading {
    margin-bottom: 0.2381em;
    font-size: 1.16667em;
  }
}

/* line 58, ../sass/components/_menuArt.scss */
.menuArt-title {
  display: block;
  padding-left: 6.42857em;
  color: #000000;
  font-size: 0.77778em;
}

/* line 65, ../sass/components/_menuArt.scss */
.menuArt-image {
  float: left;
  width: 6.07143em;
  font-size: 0.77778em;
}

/* line 8, ../sass/components/_oneOffs.scss */
#disqus_thread {
  margin-top: 2.22222em;
}

/* line 12, ../sass/components/_oneOffs.scss */
.wrapper {
  min-height: 100%;
  margin: 0 auto -151px;
}

/* line 16, ../sass/components/_oneOffs.scss */
footer, .push {
  height: 151px;
}

/* line 7, ../sass/components/_opinion.scss */
.opinion {
  margin-top: 0.55556em;
  margin-bottom: 0.55556em;
  font-style: italic;
  text-align: center;
}

/* line 24, ../sass/components/_opinion.scss */
.opinion a {
  color: #1b2027;
}

/* line 28, ../sass/components/_opinion.scss */
.opinion-image img {
  width: 2.77778em;
  height: 2.77778em;
  margin-bottom: 0.27778em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
/* line 39, ../sass/components/_opinion.scss */
.opinion:hover .opinion-image img {
  filter: none;
  -webkit-filter: grayscale(0);
}

/* line 45, ../sass/components/_opinion.scss */
.opinion-author {
  margin-bottom: 0.68182em;
  font-size: 1.22222em;
  font-family: "Raleway", sans-serif;
}

/* line 51, ../sass/components/_opinion.scss */
.opinion-title {
  margin-bottom: 0.8em;
  font-size: 0.69444em;
  font-family: "Raleway", sans-serif;
}

/* line 7, ../sass/components/_parallax.scss */
.parallax {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 24, ../sass/components/_parallax.scss */
.parallax-image {
  display: none;
  position: absolute;
  top: -10%;
  bottom: -10%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 35, ../sass/components/_parallax.scss */
.parallax-image.skrollable-between {
  display: block;
}

/* line 8, ../sass/components/_row.scss */
.row {
  position: relative;
  padding: 0 1.11111em;
}

/* line 21, ../sass/components/_row.scss */
.row--invert {
  background: #1b2027;
}

/* line 25, ../sass/components/_row.scss */
.row--alt {
  background: #ffffff;
}

/* line 7, ../sass/components/_searchBar.scss */
.searchBar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  padding-top: 1.72222em;
  z-index: 400;
}

/* line 30, ../sass/components/_searchBar.scss */
.searchBar .row {
  z-index: 100;
}

/* line 34, ../sass/components/_searchBar.scss */
.searchBar-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
}

/* line 43, ../sass/components/_searchBar.scss */
.searchBar-float {
  float: left;
  width: 100%;
  padding-right: 4.44444em;
  margin-right: -4.44444em;
}

/* line 50, ../sass/components/_searchBar.scss */
input.searchBar-input,
input.searchBar-submit {
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin-bottom: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
/* line 62, ../sass/components/_searchBar.scss */
input.searchBar-input:focus,
input.searchBar-submit:focus {
  outline: 0;
}

/* line 67, ../sass/components/_searchBar.scss */
input.searchBar-input {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.55556em;
  line-height: 2.85714em;
}
@media screen and (max-width: 34.375em) {
  /* line 67, ../sass/components/_searchBar.scss */
  input.searchBar-input {
    font-size: 1.11111em;
    line-height: 4em;
  }
}

/* line 80, ../sass/components/_searchBar.scss */
input.searchBar-submit {
  width: 4.9375em;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 5em;
  font-size: 0.88889em;
  text-transform: lowercase;
}

/* line 20, ../sass/components/_social.scss */
.social-icon {
  display: inline-block;
  width: 1.66667em;
  height: 1.66667em;
  fill: #212121;
}

/* line 8, ../sass/components/_well.scss */
.well {
  margin-bottom: 1.11111em;
  margin-top: 1.11111em;
}

/* line 18, ../sass/components/_well.scss */
.well--s {
  margin-bottom: 0.55556em;
  margin-top: 0.55556em;
}

/* line 23, ../sass/components/_well.scss */
.well--l {
  margin-top: 3.33333em;
  margin-bottom: 3.33333em;
}

/* line 28, ../sass/components/_well.scss */
.well--xl {
  margin-top: 6.66667em;
  margin-bottom: 6.66667em;
}

/* line 32, ../sass/structures/_articleInner.scss */
.articleInfo-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 0.88889em;
}

/* line 37, ../sass/structures/_articleInner.scss */
.articleInfo-author {
  font-family: "Raleway", sans-serif;
  font-size: 0.88889em;
}
/* line 40, ../sass/structures/_articleInner.scss */
.articleInfo-author a {
  color: #384453;
  font-weight: bold;
}

/* line 33, ../sass/structures/_content.scss */
.content ul, .content ol {
  margin-left: 2.22222em;
}
/* line 37, ../sass/structures/_content.scss */
.content ul li {
  list-style: disc;
}
/* line 41, ../sass/structures/_content.scss */
.content ol li {
  list-style: decimal;
}
/* line 45, ../sass/structures/_content.scss */
.content h1, .content .h1 {
  font-size: 2.55556em;
  margin-bottom: 0.43478em;
}
@media screen and (max-width: 53.125em) {
  /* line 45, ../sass/structures/_content.scss */
  .content h1, .content .h1 {
    font-size: 1.88889em;
  }
}
@media screen and (max-width: 34.375em) {
  /* line 45, ../sass/structures/_content.scss */
  .content h1, .content .h1 {
    font-size: 1.44444em;
  }
}
/* line 58, ../sass/structures/_content.scss */
.content h2, .content .h2 {
  font-size: 1.88889em;
  margin-bottom: 0.58824em;
}
@media screen and (max-width: 53.125em) {
  /* line 58, ../sass/structures/_content.scss */
  .content h2, .content .h2 {
    font-size: 1.44444em;
  }
}
@media screen and (max-width: 34.375em) {
  /* line 58, ../sass/structures/_content.scss */
  .content h2, .content .h2 {
    font-size: 1.16667em;
  }
}
/* line 71, ../sass/structures/_content.scss */
.content h3, .content .h3 {
  font-size: 1.55556em;
  margin-bottom: 0.71429em;
}
@media screen and (max-width: 53.125em) {
  /* line 71, ../sass/structures/_content.scss */
  .content h3, .content .h3 {
    font-size: 1.16667em;
  }
}
@media screen and (max-width: 34.375em) {
  /* line 71, ../sass/structures/_content.scss */
  .content h3, .content .h3 {
    font-size: 1em;
  }
}
/* line 84, ../sass/structures/_content.scss */
.content h4, .content .h4 {
  font-size: 1.33333em;
  margin-bottom: 0.83333em;
}
@media screen and (max-width: 53.125em) {
  /* line 84, ../sass/structures/_content.scss */
  .content h4, .content .h4 {
    font-size: 1em;
  }
}
@media screen and (max-width: 34.375em) {
  /* line 84, ../sass/structures/_content.scss */
  .content h4, .content .h4 {
    font-size: 0.88889em;
  }
}

/* line 7, ../sass/structures/_header.scss */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  -moz-transition: margin-top 0.2s;
  -o-transition: margin-top 0.2s;
  -webkit-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
  z-index: 500;
}
/* line 14, ../sass/structures/_header.scss */
.admin-bar .header {
  top: 32px;
}
@media screen and (max-width: 782px) {
  /* line 14, ../sass/structures/_header.scss */
  .admin-bar .header {
    top: 46px;
  }
}
@media screen and (max-width: 600px) {
  /* line 14, ../sass/structures/_header.scss */
  .admin-bar .header {
    top: 0px;
  }
}

@media screen and (max-width: 600px) {
  /* line 28, ../sass/structures/_header.scss */
  html.no-js {
    margin-top: 0px !important;
  }

  /* line 32, ../sass/structures/_header.scss */
  html #wpadminbar {
    display: none;
  }
}
/* line 37, ../sass/structures/_header.scss */
body {
  padding-top: 49px;
}

/* line 51, ../sass/structures/_header.scss */
.header.is-scrolled .header-logo, body.is-searching .header-logo {
  width: 4.44444em;
  height: 4.44444em;
}

/* line 60, ../sass/structures/_header.scss */
.header.is-fixed {
  position: fixed;
  top: 0;
  bottom: auto;
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}

/* line 78, ../sass/structures/_header.scss */
.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 6.94444em;
  height: 6.94444em;
  z-index: 100;
  -moz-transition: width 0.4s, height 0.4s;
  -o-transition: width 0.4s, height 0.4s;
  -webkit-transition: width 0.4s, height 0.4s;
  transition: width 0.4s, height 0.4s;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-position: center;
  background-size: cover;
  background-image: url('../img/pro/logo.png?1440971561');
}
@media screen and (max-width: 53.125em) {
  /* line 78, ../sass/structures/_header.scss */
  .header-logo {
    width: 4.44444em;
    height: 4.44444em;
  }
}

/* line 98, ../sass/structures/_header.scss */
.header-iconWrap {
  float: right;
}

/* line 102, ../sass/structures/_header.scss */
.header-icon {
  display: inline-block;
  margin-left: 0.55556em;
}
/* line 106, ../sass/structures/_header.scss */
.header-icon:first-of-type {
  margin-left: 0;
}
/* line 110, ../sass/structures/_header.scss */
.header-icon .comment-icon svg {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: bottom;
  width: 1.66667em;
  height: 1.66667em;
}

/* line 120, ../sass/structures/_header.scss */
.comment-count {
  position: relative;
  top: -1px;
  right: 0;
  display: inline;
  vertical-align: bottom;
  margin-left: 3px;
  color: #ffffff;
  font-size: 1.22222em;
  line-height: 1.36364em;
}

/* line 132, ../sass/structures/_header.scss */
.header-icon svg {
  width: 1.38889em;
  height: 1.38889em;
  fill: #ffffff;
}

/* line 7, ../sass/structures/_menu.scss */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  padding-top: 0.83333em;
  background-color: #dcdcdc;
  z-index: 500;
}
@media screen and (max-width: 34.375em) {
  /* line 19, ../sass/structures/_menu.scss */
  .is-menuOpen .menu {
    overflow-y: scroll !important;
  }
}

@media screen and (max-width: 34.375em) {
  /* line 38, ../sass/structures/_menu.scss */
  .is-menuOpen {
    overflow: hidden;
  }
}
/* line 53, ../sass/structures/_menu.scss */
.menu-close {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 57, ../sass/structures/_menu.scss */
.menu-close svg {
  width: 1.38889em;
  height: 1.38889em;
  fill: #1b2027;
}

/* line 64, ../sass/structures/_menu.scss */
.menu-logo {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 2.77778em;
  height: 2.77778em;
  background-position: center;
  background-size: cover;
  background-image: url('../img/pro/logo.png?1440971561');
}

/* line 76, ../sass/structures/_menu.scss */
.menu-breadcrumbs {
  position: absolute;
  top: 25px;
  right: 60px;
  left: 30px;
  margin: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-align: right;
  font-size: 0.83333em;
  text-transform: uppercase;
}
/* line 89, ../sass/structures/_menu.scss */
.menu-breadcrumbs li {
  display: inline-block;
  margin: 0 3px;
}
/* line 94, ../sass/structures/_menu.scss */
.menu-breadcrumbs a {
  color: #1b2027;
}
@media screen and (max-width: 34.375em) {
  /* line 76, ../sass/structures/_menu.scss */
  .menu-breadcrumbs {
    font-size: 0.77778em;
  }
}

/*
// -------------------------------------
//   Background
// -------------------------------------

.bch {
  background: $c-highlight;
}

.bci {
  background: $c-background-invert;
}

.bcs {
  // background: $c-subdue;
}

// -------------------------------------
//   Display
// -------------------------------------

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}
*/
/* line 40, ../sass/foundation/_tools.scss */
.dn {
  display: none;
}

@media screen and (max-width: 64em) {
  /* line 46, ../sass/foundation/_tools.scss */
  .dn--l {
    display: none;
  }
}
@media screen and (max-width: 53.125em) {
  /* line 46, ../sass/foundation/_tools.scss */
  .dn--m {
    display: none;
  }
}
@media screen and (max-width: 34.375em) {
  /* line 46, ../sass/foundation/_tools.scss */
  .dn--s {
    display: none;
  }
}
/*

// -------------------------------------
//   Margins
// -------------------------------------

// ----- All ----- //


// ----- Bottom ----- //

.mbf {
  margin-bottom: 0;
}

// ----- Horizontal ----- //

.mhc {
  margin-left: auto;
  margin-right: auto;
}

// ----- Left ----- //

.mlf {
  margin-left: 0;
}

// ----- Right ----- //

.mrf {
  margin-right: 0;
}

// ----- Top ----- //
.mtf{
  margin-top: 0;
}

// -------------------------------------
//   Padding
// -------------------------------------

// ----- All ----- //


// ----- Bottom ----- //

.pbf {
  padding-bottom: 0;
}

// ----- Left ----- //

.plf {
  padding-left: 0;
}

// ----- Right ----- //

.prf {
  padding-right: 0;
}

// ----- Top ----- //

.ptf {
  padding-top: 0;
}

// -------------------------------------
//   Positioning
// -------------------------------------

.fl {
  float: left;
}
*/
/* line 129, ../sass/foundation/_tools.scss */
.fr {
  float: right;
}

/*
.poa {
  position: absolute;
}

.pof {
  position: fixed;
}
*/
/* line 141, ../sass/foundation/_tools.scss */
.por {
  position: relative;
}

/*
.pos {
  position: static;
}

// -------------------------------------
//   Rounding
// -------------------------------------

.ra {
  border-radius: 50%;
}

.ram {
  border-radius: $b-borderRadius;
}

.ran {
  border-radius: 0;
}

// -------------------------------------
//   Text
// -------------------------------------

// ----- Alignment ----- //

.tac {
  text-align: center;
}

// ----- Color ----- //

.tch {
  color: $c-highlight;
}

.tci {
  color: $c-text-invert;
}

.tcs {
  // color: $c-subdue;
}

.tct {
  color: $c-text;
}

// ----- Family ----- //

.tfb {
  font-family: $b-fontFamily;
}

.tfh {
  font-family: $b-fontFamily-heading;
}

// ----- Size ----- //


// ----- Style ----- //

.tsi {
  font-style: italic;
}

// ----- Transform ----- //

.ttu {
  text-transform: uppercase;
}

// ----- Weight ----- //

.twn {
  font-weight: normal;
}

.twb {
  font-weight: bold;
}
*/
/* line 234, ../sass/foundation/_tools.scss */
.inline-list li {
  display: inline-block;
}

/* line 239, ../sass/foundation/_tools.scss */
.pos {
  position: static;
}
