// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// *************************************

.row {
	position: relative;
  	padding: 0 $b-space;
  	// z-index: 10;
  	@extend .clearfix;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.row--invert {
  background: $c-background-invert;
}

.row--alt {
  background: $c-background-alt;
}