// *************************************
//
//   Example
//
// *************************************

.social {
  
}

// -------------------------------------
//   Modifiers
// -------------------------------------


// -------------------------------------
//   Scaffolding
// -------------------------------------

.social-icon{
	display: inline-block;
	width: $b-space * 1.5;
	height: $b-space * 1.5;
	fill: #212121;
}