// *************************************
//
//   Table
//
// *************************************

.table {
  	display: table;
  	width: 100%;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.table-cell--middle {
	vertical-align: middle;
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

.table-cell {
	float: none;
	display: table-cell;
}